*{

margin:0%;
padding:10;
background-color: black;

}

.container{
border:1px solid black;
width:100%;
height:25vh;
margin-top:300px;
justify-content: center;
background-color: black;

}

.search{
border-right:1px solid white;
background-color: blue;
color:White;
font-family: cursive;
float:left;
width:50%;
height:20vh;
padding-right: 20px;
padding-top:100px;
background-color: black;

}


.result{
border-left:1px solid white;
background-color: blue;
height:20vh;
color:White;
font-family: cursive;
margin-left:50%;
padding-left:30px;
padding-top:50px;
background-color: black;

}

.temperature{
font-size:50px;

}

.date_time{
font-size:20px;

}

.enter_city{
  border-bottom:1px solid black;
  background-color:white;
  width:200px;
  height:30px;
  color:black;
  border-radius:5px;
  font-size: 15px;
  text-align:center;
  font-family: cursive;
}

.search_button{
  color:white;
  font-family: cursive;
  width:200px;
  hug:40px;
  height:35px;
  border-radius:5px;
  font-size: 15px;
  border-bottom:3px solid White;
}
